@import 'deafult'

.user-list ul {
  list-style: none;
  @include position(relative);
  width: 350px;
  float: right;
  margin: 0px;
  top: 0;
  bottom: 0;
}

.person {
  font-size: 1.5em;
  text-transform: uppercase;
  @include position(absolute);
  top: 7px;
  left: 70px;
}
